<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <script src="../../bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap/dataTables.bootstrap.min.css">
    <script src="../../bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="../../bootstrap/jquery.dataTables.min.js"></script>
    <script src="../../bootstrap/jquery-3.6.0.min.js"></script>
    <script src="../../bootstrap/popper.min.js"></script>


    <img src="../../assert/img/icon/facebook.png" height="225" width="225"/><img src="../../assert/img/icon/283-2831746_insta-icon-instagram.png" height="905" width="905"/><img src="../../assert/img/logo_tripadvisor/logo_tripadvisor.png" height="100" width="230"/>
<body>

</body>
</html>